<div class="mt-5">
    <p>
        Si votre email correspond à un compte existant, vous receverez un email qui contient un code vous permettant de créer un nouveau mot de passe.
    </p>
    <p> Si vous n'avez pas reçu l'emai veillez à consulter vos spam ou <a href="{{ path('app_forgot_password_request') }}">Renvoyer un email</a>.</p>
</div>