{% extends "base.html.twig" %}

{% block title %}
    LP-LOL - Paramètre de securite
{% endblock %}

{% block body %}
<h2 class='text-center mt-4'>Mes Paramètre de securite</h2>
<div class='text-black d-flex flex-column justify-content-center align-items-center mt-5'>
    <div class='w-50 d-flex flex-column bg-primary p-5'>
        <div class='d-flex justify-content-center'>
            <form class=' flex-collumn bg-primary p-5' action="{{ path('app_profil_security', {'id': user.id} )}}" method="POST">
                
            <label for="email" >Email</label>
            <input class='mb-2 ms-2 rounded-2' name="email" maxlength = "18" minlength="3" type="text" value={{ user.email }}>
            
            <label for="password" >Mot de passe</label>
            <input class='mb-2 ms-2 rounded-2' name="passord" maxlength = "18" minlength="3" type="text" value={{ user.password }}>
    
            </div> 
            <div class='d-flex '>
             <button class='btn btn-secondary' type=""><a href="{{ path('app_profil', {'id': user.id}) }}">Annuler</a></button>
             <button class='btn btn-secondary' type="submit">Valider</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}